<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title> My First Webpage</title>
</head> 
<body>
<p>
  
Mercedes Anaya Zarzosa <br>
Mr. Michalenko <br>
ICS3U 
  9 September 2019</p>
 <h1> My First Webpage</h1> 
 <p style="color:blue;font-size:20px;">
 I was born in Mexico and raised in the dominican republic for ten years. I attended the International School of Sosua until grade six. I moved to Canada due to my dad’s job as a hotel manager and attended at Admiral Collingwood Elementary School from grade seven to eight. Now, I ended up attending at Jean Vanier Catholic High School. I have traveled a lot in my years such as Las Vegas, and several places in Mexico as well as the Saint Thomas Virgin Islands, Mami, Panama, Florida, Toronto, etc.
  <br> <br>
 I designed clothes for a while and sold a few. I involve myself in artist commissions and art trades online as well. I have loved movies and cartoons as a child and got into art at a very young age. Which explains why I got into animation when I was four-teen and ever since I’m obsessed over the animation industry. I love many movies and shows such as, Invader Zim, Steven Universe, How to Train Your Dragon, Marvel, DC, etc.
<br> <br>
 I have never dealt with programming before since its not necessary for an animator to program. However, I’m experienced in many animation programs, such as Procreate, FrameCast, ToonBoom, Adobe Photoshop, Stop Motion Animator, etc. Also, traditional animation and art. I have taken a 2D animation summer course at the University Of Toronto for a week.  Since animation is a huge part of my life. And obviously I have been building a portfolio for a while now. I’ve made animations of my own, as well as character design and digital art. Which can be seen on this link: 
 <form><form>
<form>
<input class="MyButton" type="button" value="https://www.instagram.com/mazzyna/" onclick="window.location.href='https://www.instagram.com/mazzyna/'" />
</form>
<img src="https://cdn.glitch.com/187a3e32-fdbd-44d6-a579-820d5a32e989%2FIMG_2093.PNG?v=1571147306718" alt="img" width="300" height="300">
</body> 
</html>
